<!DOCTYPE html>
html lang="en"
    head
        meta charset="UTF-8"/
        meta name="viewport" content="width=, initial-scale=1.0"/
        link rel="stylesheet" type="text/css" href="teest.scss"
        title Document
    body
    .txt contenteditable="true"
    | MyNetflix