@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway:300");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

html
{
    scroll-behavior:smooth;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
    color:white;
}

h1
{
    text-align:left;
    color: white;
    font-family:'Roboto';
    padding-top:10px;
    padding-left:35px;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

h1 img
{
    width: 250px;
}

.hidden{
    display:none;
}

.contenu
{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 550px;
  background: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.contenu .titre h2, h3
{

    color: white;
    text-align: center;
    margin-bottom: 25px;
}

.bloc
{
    display:flex;
}

.section1
{
    display:flex;
    flex-direction: column;
    margin-right: 4%;

}
.section1, .section2
{
    width: 48%;
}

.section1, .entree, .section2 
{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid white;
    padding: 10px;
    color: #c6ecfd;
    width: 100%;
    transition: all 0.3s ease 0s;
}


::-webkit-input-placeholder
{
    color: white;
}
.test
{
    background-color:red;
    text-align:center;
    border-radius: 5px;
}
/*
.btn
{
    background: #E50914;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}
*/

@import url("https://fonts.googleapis.com/css?family=Raleway:300");
*{
  margin: 0;
  padding: 0;
}   
button{
  position: relative;
  height: 60px;
  width: 200px;
  border: none;
  outline: none;
  color: white;
  background: #E50914;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  transition: all 0.3s ease 0s;
}
button:hover{
    background: #8B0000;
}
button:before{
  position: absolute;
  content: '';
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  filter: blur(5px);
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  background-size: 400%;
  transition: opacity .3s ease-in-out;
  animation: animate 20s linear infinite;
}
button:hover:before{
  opacity: 1;
}
button:hover:active{
  background: none;
}
button:hover:active:before{
  filter: blur(2px);
}
@keyframes animate {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

@media screen and (max-width:600px)
{
    .contenu
    {
        flex-direction: column;
    }
    .bloc
    {
        width: 100%;
    }
}

a{
    color:white;
    text-decoration:underline;
}

.logo{
    font-family:'Poppins';
    font-size: 36px;
    font-weight: 600;
    text-align:left;
}

.test2{
    background-color:#00FF00;
    text-align:center;
    border-radius: 5px;
}