@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
 
 html
 {
     scroll-behavior:smooth;
 }  
   *
{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
    text-decoration: none;
}
body
{
    background-color:#24252A;
}


li, a, button 
{
    font-family: "Montserrat";
    font-weight: 500px;
    font-size: 16px;
    color: #edf0f1;
    text-decoration : none;
}

header
{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding: 30px 10%;
    height: 15%;
    background-color: #101010;
}
.logo
{
    cursor: pointer;
    height:15%;
    width:15%;
    margin-right:auto;
}

.lien_nav li
{
    display: inline-block;
    padding: 0px 20px;
}

.lien_nav li a
{
    transition: all 0.3s ease 0s;
}

.lien_nav li a:hover
{
    color: #E50914;
}

button
{
    padding: 9px 25px;
    background-color: #E50914;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-left: 30px;
    margin-top: auto;
}

button:hover
{
    background-color: #800000;
}
.recherche 
{
    display:inline-block;
    padding: 6px 20px;
    background-color:transparent;
    border: none;
    border-radius:5px;
    margin-left:auto;
    transition: all 0.3s ease 0s;
}
.recherche:hover
{
    background-color:#4d0000;
}

.inscription
{
    margin-top: 300px;
    display: grid;
    place-items:center;
    vertical-align:middle;
    background-color: purple;
    height:400px;
}

.Ligne
{
    display:flex;
    justify-content: center;

}
.film {
    margin: 50px 50px;
}

.film a img
{
    width: 150px;
}

@media screen and (max-width: 981px ) {
    .Ligne {
        display: block;
        margin: 0 auto
    }
}