
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway:300");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

html
{
    scroll-behavior:smooth;
    transform: translateZ(0), rotateZ(360deg);
    backface-visibility: hidden;
    perspective: 1000;

}

*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
   background:black;
    overflow: scroll;
}

img{
  max-width:100%;
  height:auto;
}
.recherche{
  display:float;
  float:left;
  margin-top: 18px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
  border-style:none;
  border:1px solid grey;
  padding: 8px 15px;
  transition: all 0.3s ease 0s;
}

.recherche:hover{
  color: #E50914;
  border-radius: 5px;
  box-shadow:  0 0 5px #F50914,
               0 0 10px #F80914;
}
    

nav{
  background: black;
  border-bottom: 1px solid white;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
  color: white;
  font-size: 36px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;

}
nav ul{
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
nav ul li{
  float: left;
  display: inline-block;
  background: black;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
  transition: all 0.3s ease 0s;
}
nav ul li a:hover{
  color: #E50914;
  border-radius: 5px;
  box-shadow:  0 0 5px #F50914,
               0 0 10px #F80914;
}
nav ul ul li a:hover{
  box-shadow: none;
}
nav ul ul{
  position: absolute;
  top: 90px;
  border-top: 1px solid #E50914;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
.show,.icon,.supp{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}
@media all and (max-width: 968px) {
  nav ul{
    margin-right: 0px;
    float: left;
  }
  nav .logo{
    padding-left: 30px;
    width: 100%;
  }
  .show + a, ul{
    display: none;
  }
  nav ul li,nav ul ul li{
    display: block;
    width: 100%;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  .show{
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover{
    color: #E50914;
  }
  .icon{
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  
  }
  nav ul ul a{
    padding-left: 40px;
  }
  nav ul ul ul a{
    padding-left: 80px;
  }
  nav ul ul ul li{
    position: static;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  nav ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }
}
.content{
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
header{
  font-size: 35px;
  font-weight: 600;
  padding: 10px 0;
}
p{
  font-weight: 500;
}


h2, .section, .series
{
color:white;
text-align: center;

}

.bonjour
{
font-size:18px;
color:white;
text-align: left;
}

.resumeee
{
    padding-left:200px;
    padding-right:200px;
}

/*button
{
    padding: 9px 25px;
    background-color: #E50914;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-left: 30px;
    margin-top: auto;
}

button:hover
{
    background-color: #800000;
}*/


.inscription
{
    margin-top: 300px;
    display: grid;
    place-items:center;
    vertical-align:middle;
    background-color: white;
}

.contenu
{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 550px;
  background: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  text-align:center;
}
.contenu p
{
    color:white;
}



.formulaire
{
    display:inline-block;
}

@import url("https://fonts.googleapis.com/css?family=Raleway:300");
*{
  margin: 0;
  padding: 0;
}   
button{
  position: relative;
  height: 60px;
  width: 200px;
  border: none;
  outline: none;
  color: white;
  background: #111;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}
button:before{
  position: absolute;
  content: '';
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  filter: blur(5px);
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  background-size: 400%;
  transition: opacity .3s ease-in-out;
  animation: animate 20s linear infinite;
}
button:hover:before{
  opacity: 1;
}
button:hover:active{
  background: none;
}
button:hover:active:before{
  filter: blur(2px);
}
@keyframes animate {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


body::-webkit-scrollbar{
  display:none;
}


.dock{
      overflow:auto;
      white-space: nowrap;
}

.dock img
{
    display: inline-block;
    padding:15px;
    margin-left:5px;
    height: 250px;
}



.dock::-webkit-scrollbar{
    width:25px;
}

.dock::-webkit-scrollbar-track{
    border:7px solid #000000;
    box-shadow: inset 0 0 2.5px 2px rgba(0,0,0,0.5);
    opacity:transparent;
}

.dock::-webkit-scrollbar-thumb{
    background:linear-gradient(
        45deg,
        #552854,
        #E50914
    );
    border-radius:3px;
}

.top h1{
  text-align:left;
}
.gauche p{
  color: white;
}
.droite{
  text-align:right;
}

.horizontal-scrolling{
  margin-top: 50ms;
}


.horizontal-scrolling h2{
  text-align:left;
}

.horizontal-scrolling{
  padding-left:25px;
  padding-right:25px;
}

h3{
  letter-spacing: 0.5rem;
  font-family:'Josefin Sans';
  font-size:32px;
  color:white;
}
.nomserie{
  letter-spacing: 0.5rem;
  font-size:65px;
}

.number{
  font-size:20px;
  text-shadow:  0 0 5px #F50914,
               0 0 10px #F80914;
}

.trophy{
  height:30px;
}

.gauche{
  font-size:20px;
  margin-top:50px;
  width:520px;
  text-justify: auto;
}


.new{
  background:linear-gradient(
    45deg,
    #552854,
    #E50914
);
  border:solid 2px white;
  padding: 5px 5px 5px 5px;
}


.conteneur{
  text-align:left;
  padding-left:0px;
  color: white;
  padding-top:50px;
}

.conteneur h2{
  text-align:left;
}


.banner .conteneur{
  max-width:550px;
}

.banner .conteneur p{
  font-size:1.2em;
  font-weight:300;
  letter-spacing: 0.02em;
  line-height: 1.5em;
  color:#fff;
  margin:15px 0 35px;
}

.play{
  position:relative;
  display:inline-flex;
  justify-content:flex-start;
  align-items: center;
  color:#fff;
  text-transform:uppercase;
  font-weight:500;
  text-decoration:none;
  letter-spacing: 2px;
  font-size:1.2em;
  transition: all 0.3s ease 0s;
}

.play img{
  margin-right: 10px;
  max-width:50px;
}

.play:hover{
  color:gray;
}
.play:active{
  color:#E50914;
}

.trailer{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}

.trailer iframe{
 left:0;
 top:0;
 height:100%;
 width:100%;
 position:absolute;
}

.trailer .close{
  position:absolute;
  top:30px;
  right:30px;
  cursor:pointer;
  filter: invert(1);
  max-width: 32px;
}

.commentaires
{
  padding-left:100px;
  padding-right:100px;
  padding-top:15px;
}


.com
{
    border-radius:11px;
    padding:7px 7px 7px 7px;
    align-items:center;
    display:grid;
    grid-template-columns:5% 80% 15%;
}

@media all and (max-width: 968px){
  .com{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  .actualcom{
    margin: 0 auto;
  }
  .picture{
    margin:0 auto;
  }

  .lanote{
    margin:0 auto;
  }
}

.picture{
  align-self: center;
  justify-self: center;
}
.actualcom{
  padding-left:25px;
}

.commentaires h4{
  color:white;
  font-family:'Poppins';
  display:inline;
  font-size:20px;
}
.commentaires p{
  color:white;
  padding-top:5px;
  font-size: 15px;
}


#compost{
  margin-top: 50px;
  padding-left:100px;
  padding-right:100px;
}

.ecrirecom input{
  width:95%;
  background:transparent;
  color:white;
  border: none;
  border-bottom: 2px solid gray;
  height:45px;
  transition: all 0.3s ease 0s;
}

.ecrirecom input:hover{
  background: rgba(255,255,255,0.1);
}

.noter{
  margin-top:10px;
}
.noter input{
  margin-top:10px;
  width:5%;
  background:transparent;
  color:white;
  border: none;
  border-bottom: 2px solid gray;
  height:25px;
}



.uneboite{
  margin-top:25px;
  display:flex;
  justify-content:center;
  align-items: center;
  margin-bottom:25px;
}



.lien_nav a{
  text-decoration: none;
  color:white;

  text-align:left;

  
}

.lien_nav{
  text-align:left;

}

.lien_nav li{
 
}

.lien_nav img{
  width: 50px;
  vertical-align: middle;
  margin-right:25px;
}

.lien_nav div{
  display:flex;
  align-items: center;

  margin:40px;
  padding:15px;
  transition: all 0.3s ease 0s;
}


.lien_nav div:hover{
  color: #E50914;
  border-radius: 5px;
  box-shadow:  0 0 5px #F50914,
               0 0 10px #F80914;
}


.liste{
  position:absolute;
  top:40%;
  left:50%;
  transform: translate(-50%, -50%);
}

.area{
  background: black;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:100vh;
  
 
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animattion 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animattion {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}


.contenu-wrapper{
  color:white;
  margin-left:50px;
  margin-top:50px;
}


.friends{
  padding:25px;
  border-radius:15px;
  border:3px solid rgba(255, 255, 255, 0.7);
  width:15%;
  margin-top:25px;
  margin-left:25px;
  display:flex;
  justify-content: center-left;
  align-items:center-left;
}

.chat-wrapper{
  display:flex;
  justify-content: center;
  align-items:center;
  width:100%;
  height:100vh;
}

.chat{
  height:70vh;
  width:60%;
  border:3px solid rgba(255, 255, 255, 0.7);
  border-radius:15px;
  display:grid;
  grid-template-rows: 1.5fr 7fr 1.5fr;

}


.chatheader{
  border:3px solid rgba(255, 255, 255, 0.7);
  display:flex;
  justify-content: center;
  align-items:center;
}

.chatinput{
  border:3px solid rgba(255, 255, 255, 0.7);
}



.chatenvoyer{
  padding:50px;
  background:linear-gradient(#E50914, purple);

}

.chattext{

  overflow-y: auto;
}

.chatrecu{
  padding:50px;
  background:grey;
}

.leprofil{
  margin-top: 150px;
  color:white;
  display:flex;
  align-items: center;

}

.leprofil img{
  width:5%;
}

.administrer{
  display:flex;
  flex-direction: column;

}