.contenu-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 100;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
table {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition:0.3s;
}
th {
  text-align: left;
}
thead th {
  background-color: #E50914;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.25);
  z-index: -1;
}


.com{
    margin: 25px 0 0 150px;
}