
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway:300");

html
{
    scroll-behavior:smooth;
}  
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    background: #1B1B1B;
    background-repeat:no-repeat;
    background-size:cover;
}

nav{
  background: #1b1b1b;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}
nav ul{
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
nav ul li{
  float: left;
  display: inline-block;
  background: #1b1b1b;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
  transition: all 0.3s ease 0s;
}
nav ul li a:hover{
  color: #E50914;
  border-radius: 5px;
  box-shadow:  0 0 5px #F50914,
               0 0 10px #F80914;
}
nav ul ul li a:hover{
  box-shadow: none;
}
nav ul ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid #E50914;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
.show,.icon,.supp{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}
@media all and (max-width: 968px) {
  nav ul{
    margin-right: 0px;
    float: left;
  }
  nav .logo{
    padding-left: 30px;
    width: 100%;
  }
  .show + a, ul{
    display: none;
  }
  nav ul li,nav ul ul li{
    display: block;
    width: 100%;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  .show{
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover{
    color: #E50914;
  }
  .icon{
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a{
    padding-left: 40px;
  }
  nav ul ul ul a{
    padding-left: 80px;
  }
  nav ul ul ul li{
    position: static;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  nav ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }
}
.content{
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
header{
  font-size: 35px;
  font-weight: 600;
  padding: 10px 0;
}
p{
  font-size: 30px;
  font-weight: 500;
}


h1, h2, .section, .series
{
color:white;
text-align: center;
background-color: rgba(0,0,0,0.3);
}

.bonjour
{
color:white;
text-align: left;
background-color: rgba(0,0,0,0.3);
}

.resumeee
{
    padding-left:200px;
    padding-right:200px;
}

/*button
{
    padding: 9px 25px;
    background-color: #E50914;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-left: 30px;
    margin-top: auto;
}

button:hover
{
    background-color: #800000;
}*/
.recherche 
{
    display:inline-block;
    padding: 6px 20px;
    background-color:transparent;
    border: none;
    border-radius:5px;
    margin-left:auto;
    transition: all 0.3s ease 0s;
}
.recherche:hover
{
    background-color: #800000;
}

.inscription
{
    margin-top: 300px;
    display: grid;
    place-items:center;
    vertical-align:middle;
    background-color: white;
}

.contenu
{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 550px;
  background: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  text-align:center;
}
.contenu p
{
    color:white;
}

.com
{
    display:inline-block;
    border-radius:11px;
    padding:7px 7px 7px 7px;
}

.formulaire
{
    display:inline-block;
}

@import url("https://fonts.googleapis.com/css?family=Raleway:300");
*{
  margin: 0;
  padding: 0;
}   
button{
  position: relative;
  height: 60px;
  width: 200px;
  border: none;
  outline: none;
  color: white;
  background: #111;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}
button:before{
  position: absolute;
  content: '';
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  filter: blur(5px);
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  background-size: 400%;
  transition: opacity .3s ease-in-out;
  animation: animate 20s linear infinite;
}
button:hover:before{
  opacity: 1;
}
button:hover:active{
  background: none;
}
button:hover:active:before{
  filter: blur(2px);
}
@keyframes animate {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

input{
  display:float;
  float:left;
  margin-top: 18px;
  border-radius: 5px;
  background: transparent;
  border-style:none;
  padding: 8px 15px;
  transition: all 0.3s ease 0s;
}

input:hover{
  color: #E50914;
  border-radius: 5px;
  box-shadow:  0 0 5px #F50914,
               0 0 10px #F80914;
}

.dock-container {
  position: fixed;
  bottom: 0;
  text-align: center;
  right: 20%;
  left: 20%;
  width: 60%;
  background: rgba(255,255,255,0.2);
  border-radius: 10px 10px 0 0;
}
.dock-container li {
  list-style-type: none;
  display: inline-block;
  position: relative;
}

.dock-container li img {
  width: 64px;
  height: 64px;
  -webkit-box-reflect: below 2px
            -webkit-gradient(linear, left top, left bottom, from(transparent),
            color-stop(0.7, transparent), to(rgba(255,255,255,.5)));
  -webkit-transition: all 0.3s;
  -webkit-transform-origin: 50% 100%;
}

.dock-container li:hover img { 
  -webkit-transform: scale(2);
  margin: 0 2em;
}
.dock-container li:hover + li img,
.dock-container li.prev img {
  -webkit-transform: scale(1.5);
  margin: 0 1.5em;
}

.dock-container li span {
  display: none;
  position: absolute;
  bottom: 140px;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.75);
  padding: 4px 0;
  border-radius: 12px;
}
.dock-container li:hover span {
  display: block;
  color: #fff;
}