@function makelongshadow($length,$angle) {
    $val: 0px 0px transparent;
    @for $i from 1 through $length {
      $val: #{$val}, #{$i}px #{$i*$angle}px #aaa;
    }
    @return $val;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway:300");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Roboto:700,900');
  
  body {
    background: radial-gradient(#000000, #222222);
    background-size: 100vw 100vh; 
    overflow: hidden;
    padding-top: 40vh;
  }
  
  .txt {
    text-align: center;
    font-family: 'Poppins';
    font-size: 12vmin;
    font-weight: 700;
    animation: netflix_style 5s infinite;
    outline: none;
    white-space: nowrap;
  }
  
  @keyframes netflix_style {
    0% {
      text-shadow: makelongshadow(100,1);
      color:#f3f3f3;
      transform: scale(1.5, 1.5);
    }
    10% {
      text-shadow: makelongshadow(100,1.5);
      color:#f3f3f3;
      transform: scale(1.5, 1.5);
    }
    15% {
       color:#f3f3f3;
    }
    20% {    
      color:#e90418;
      text-shadow: none;
      transform: scale(1.1, 1.1);
    }
    75% {
      opacity: 1;
    }
    80% {
      opacity: 0;    
      color:#e90418;
      transform: scale(0.85, 0.9);
    }
    
    100% {
      opacity: 0;
    }
  }

