
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway:300");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

html
{
    scroll-behavior:smooth;
}

*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
   background:black;
    overflow: scroll;
}

.recherche{
  display:float;
  float:left;
  margin-top: 18px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
  border-style:none;
  border:1px solid grey;
  padding: 8px 15px;
  transition: all 0.3s ease 0s;
}

.recherche:hover{
  color: #E50914;
  border-radius: 5px;
  box-shadow:  0 0 5px #F50914,
               0 0 10px #F80914;
}
    

nav{
  background: black;
  border-bottom: 1px solid white;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}
nav ul{
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
nav ul li{
  float: left;
  display: inline-block;
  background: black;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
  transition: all 0.3s ease 0s;
}
nav ul li a:hover{
  color: #E50914;
  border-radius: 5px;
  box-shadow:  0 0 5px #F50914,
               0 0 10px #F80914;
}
nav ul ul li a:hover{
  box-shadow: none;
}
nav ul ul{
  position: absolute;
  top: 90px;
  border-top: 1px solid #E50914;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
.show,.icon,.supp{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}
@media all and (max-width: 968px) {
  nav ul{
    margin-right: 0px;
    float: left;
  }
  nav .logo{
    padding-left: 30px;
    width: 100%;
  }
  .show + a, ul{
    display: none;
  }
  nav ul li,nav ul ul li{
    display: block;
    width: 100%;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  .show{
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover{
    color: #E50914;
  }
  .icon{
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a{
    padding-left: 40px;
  }
  nav ul ul ul a{
    padding-left: 80px;
  }
  nav ul ul ul li{
    position: static;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  nav ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }
}
.content{
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
header{
  font-size: 35px;
  font-weight: 600;
  padding: 10px 0;
}
p{
  font-weight: 500;
}


h1, h2, .section, .series
{
color:white;
text-align: center;

}

.bonjour
{
font-size:18px;
color:white;
text-align: left;
}

.resumeee
{
    padding-left:200px;
    padding-right:200px;
}

/*button
{
    padding: 9px 25px;
    background-color: #E50914;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-left: 30px;
    margin-top: auto;
}

button:hover
{
    background-color: #800000;
}*/


.inscription
{
    margin-top: 300px;
    display: grid;
    place-items:center;
    vertical-align:middle;
    background-color: white;
}

.contenu
{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 550px;
  background: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  text-align:center;
}
.contenu p
{
    color:white;
}

.com
{
    display:inline-block;
    border-radius:11px;
    padding:7px 7px 7px 7px;
}

.formulaire
{
    display:inline-block;
}

@import url("https://fonts.googleapis.com/css?family=Raleway:300");
*{
  margin: 0;
  padding: 0;
}   
button{
  position: relative;
  height: 60px;
  width: 200px;
  border: none;
  outline: none;
  color: white;
  background: #111;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}
button:before{
  position: absolute;
  content: '';
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  filter: blur(5px);
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  background-size: 400%;
  transition: opacity .3s ease-in-out;
  animation: animate 20s linear infinite;
}
button:hover:before{
  opacity: 1;
}
button:hover:active{
  background: none;
}
button:hover:active:before{
  filter: blur(2px);
}
@keyframes animate {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


body::-webkit-scrollbar{
  display:none;
}


.dock{
    overflow:auto;
    white-space: nowrap;
}

.dock img
{
    display: inline-block;
    padding:14px;
}

.dock::-webkit-scrollbar{
    width:25px;
}

.dock::-webkit-scrollbar-track{
    border:7px solid #000000;
    box-shadow: inset 0 0 2.5px 2px rgba(0,0,0,0.5);
    opacity:transparent;
}

.dock::-webkit-scrollbar-thumb{
    background:linear-gradient(
        45deg,
        #552854,
        #E50914
    );
    border-radius:3px;
}

.top h1{
  text-align:left;
}
.gauche p{
  color: white;
}
.droite{
  text-align:right;
}

.horizontal-scrolling{
  margin-top: 50ms;
}


.horizontal-scrolling h2{
  text-align:left;
}

.horizontal-scrolling{
  padding-left:25px;
  padding-right:25px;
}

h3{
  letter-spacing: 0.5rem;
  font-family:'Josefin Sans';
  font-size:32px;
}
.nomserie{
  letter-spacing: 0.5rem;
  font-size:65px;
}

.number{
  font-size:20px;
  text-shadow:  0 0 5px #F50914,
               0 0 10px #F80914;
}

.trophy{
  height:30px;
}

.gauche{
  font-size:20px;
  margin-top:50px;
  width:520px;
  text-justify: auto;
}
.droite{
}

.new{
  background:#E50914;
  border:solid 2px white;
  padding: 5px 5px 5px 5px;
}
